body {
  background-color: #fbcb05 !important;
  height: 100vh;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline double;
}

.cuerpo_principal {
  height: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
}

.tabla {
  background-color: aqua;
}

.imagen_carrito {
  max-width: 20%;
  display: flex;
}

.imagen_tarjeta {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.titulo_separador {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: underline;
  font-size: 60px;
}
